<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>List Dealer</title>
</head>

<body>
    <h3 th:text="'Alamat: ' + ${dealer.alamat}"></h3>
    <h3 th:text="'Telepon: ' + ${dealer.noTelp}"></h3>
    <ol>
      <li th:each="car : ${car_list}">
      	<h4 th:text="'Brand: ' + ${car.brand} + ' - Type: ' + ${car.type} + ' - Amount: ' + ${car.amount} + ' - Price: ' + ${car.price}"></h4>
        <br>
      </li>	
    </ol>
    <td>
      <a th:href="@{/}">Home</a>
    </td>
  </body>
</html>